body{
display: flex;
flex-direction:column;
align-items:center;

}


#main-head{
	
font-family: Tinos;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 57px;
text-align: center;

color: #000000;
margin:0px;
}

#logo{
	font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 92px;
margin :0px;

color: #000000;
}

#header{
	width: 366px;
	height: 134px;
	display : flex;
	flex-direction:column;
	align-items:center;
}

#yello{
	width: 725px;
	height: 255px;
	background: #F3E568;
	display : flex;
	flex-direction:column;
	align-items:center;
	z-index: 1;
	top:0%;
	right:0%;
	position: absolute;
	}

#yello h1{
	width: 138px;
	height: 30px;
	font-family: 'ABeeZee', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */


	color: #36383F;

	margin : 10px auto 10px auto;


}

#yello p{
	font-size:18px;
	width:591px;
	margin : 0px auto 10px auto;

}

#p1{

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
line-height: 24px;
text-align: center;

color: #36383F;

}

#p2{

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
line-height: 24px;

color: #36383F;
}

#p3{
font-family: ABeeZee;
font-style: normal;
font-weight: normal;
line-height: 24px;
text-align: center;

color: #36383F;
}

#accent{
width: 725px;
height: 255px;
position: absolute;

background: #36383F;
z-index: 0;
bottom:0%;
left:0%;
}

#parent{
	position: relative;
	width: 764px;
height: 309px;

margin : 72px auto 62px auto;
}

#sample{
	display: flex;
	flex-direction:column;
	align-items:center;
	width: 631px;
height: 719px;



}


#sample h1{
	width: 196px;
height: 30px;


font-family: ABeeZee, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #000000;
}

#key{
width: 631px;
height: 202px;


background: #36383F;
}


#key div{
width: 525px;
height: 126px;
	display : flex;
	flex-direction:column;
	justify-content: space-between;
	margin : 43px 53px;
}

.keys{
width: 525px;
height: 24px;


font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #F3E568;

margin : 0px;
}

#start{
width: 1029px;
height: 190px;


display : flex;
flex-direction: column;
align-items:center;
margin : 81px auto;
}

#start p{
width: 583px;
height: 63px;


font-family: ABeeZee, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;

margin:24px 0px;

}

#start button{
width: 178.57px;
height: 60px;
background: #516AC0;


filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.34));


font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 33.3558px;
line-height: 38px;
/* identical to box height */


color: #FFFFFF;
margin: 0px;

}


/* Sample stimuli CSS */

#stimuli{
	height:400px;
	width:400px;
	position : relative;
	margin-bottom:30px;
}

#target{
	width: 25px;
	height: 52px;


	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 52px;
	/* identical to box height */


	color: #000000;
	position: absolute;
	top:175px;
	left:187px;
}


.dis{
    position:absolute;
    top:100px;
    left:100px;
    display:none;
    font-size: 45px;
		height : 52px;
		width:28px;
}
